   <br>
    <div class="center">
     <mat-card><h1>Bize Ulaşın</h1></mat-card>
 <mat-grid-list cols="1" rowHeight="235px">
   <mat-grid-tile>
     <img [src]="apiServis.siteUrl + '/Dosyalar/banner2.png'"style="width: 1490px"/>
   </mat-grid-tile>
  </mat-grid-list>
    <mat-card>
      <mat-list>
        <mat-list-item><b>Telefon:</b>0543 343 33 33</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><b>E-Posta:</b>dgskitapcim@gmail.com</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><b>Adres:</b>Manavgat City Kat:3 No:15 Manavgat/ANTALYA </mat-list-item>
      </mat-list>
    </mat-card>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 </div>
 <head>
   <style>
       .center {
           text-align: center;
       }
   </style>
   </head>
   <body>
