<br>
<div class="center">
 <mat-card><h1 class="center">Kitaplar</h1></mat-card>
 <br>
  <mat-form-field appearance="outline">
    <input matInput placeholder="Aramak istediğiniz kitabı buraya yazarak filtreleyebilirsiniz." (keyup)="UrunFiltrele($event)" />
  </mat-form-field>

  <p></p>


  <button mat-raised-button color="primary" matTooltip="Ürün Ekle" (click)="Ekle()">Kitap Ekle</button>

  <p></p>

  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z10" matSort>
    <ng-container matColumnDef="kitapResmi">
      <mat-header-cell *matHeaderCellDef >
        Kitap
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <img [src]="apiServis.siteUrl + '/Dosyalar/' + kayit.kitapResmi" style="width: 100px"
        matTooltip="Görseli Güncellemek İçin Tıklayınız.."  (click)="GorselGuncelle(kayit)"/>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kitapId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Kitap Kodu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.kitapId }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kitapAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Kitap Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.kitapAdi }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kitapFiyat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Fiyat
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.kitapFiyat }} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="kitapSayfasi" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Kitap Sayfası
      </mat-header-cell >
      <mat-cell *matCellDef="let kayit"> {{ kayit.kitapSayfasi }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kitapKategoriId" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Kitap Kategori ID
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.kitapKategoriId }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kitapKategoriAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Kitap Kategori Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.kitapKategoriAdi }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="kitapYayineviId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Yayınevi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{ kayit.kitapYayineviId }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef> İşlemler </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button
          mat-icon-button
          matTooltip="Detay"
          [routerLink]="['/admin/urunliste', kayit.kitapId]"
        >
          <mat-icon aria-label="label" color="primary">article</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label" color="accent">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
    class="mat-elevation-z5"
  >
  </mat-paginator>
</div>
<head>
  <style>
      .center {
          text-align: center;
      }
  </style>
  </head>
  <body>
