

    <br>
    <div class="center">
     <mat-card><h1 class="center">Motivasyon Videoları</h1></mat-card>
     <br>
   <mat-grid-list>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TtmOsdlQnpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zby8VTFoYtY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WvlGsbSpK3o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EFaVA5Jg_kE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </mat-grid-list>

   <p>&nbsp;</p>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
 </div>

 <head>
   <style>
       .center {
           text-align: center;
       }
   </style>
   </head>
   <body>
