<br>
<div class=".container">
 <mat-card><h1 class="center">DGS Rehberlik</h1></mat-card>
 <br>
<mat-card>
  <img [src]="apiServis.siteUrl + '/Dosyalar/gok.png'"style="width: 1500px;"/>
  <br>
1- Sınav okulunuzda sınavdan en az yarım saat önce olmaya çalışın, okul bahçesinde, dışarıda konuşulan hiçbir sohbete katılmayın, kulak misafiri dahi olmayın. Sınavın sonucunu veya kazanabileceğin üniversiteyi, bölümü hiç düşünmeyin. Sadece bu sınavın senin girdiğin herhangi bir denemeden farkı olmadığını, hatta daha basit olabileceğini düşünmen yeterli olacaktır.
<br>
<br>
2- Hırsınızı, ümitsizliğinizi ve karamsarlığınızı evden çıkarken eve bırakın, sınava güzel niyetlerle girin, güzeli düşünün, güzeli isteyin. Herkes için güzel dileklerde bulunun, ”hayırlısıysa olur inşallah” düsturuyla ”bismillah” çekerek sınava başlayın.
<br>
<br>
3- Sayısalcı isen sayısaldan, eşit ağırlıkçı ve sözelci isen sözelden başlaman daha uygun olacaktır. Ancak deneme sınavlarında başlayacağın bölüme önceden karar vermişsen (yani hangisinden başlarsan daha fazla net, daha rahat süre kullanabiliyorsan sayısalcı veya eşit ağırlıkçı olmana dikkat etmene gerek yok) o şekilde sınava giriş yaparsın.
<br>
<br>
4- İster sözel bölüm, ister sayısal bölüm soruları olsun çok iyi okuyalım. Sorunun metninde veya kendisinde gözden kaçırdığımız veya es geçtiğimiz bir kelimenin, bir bağlacın, bir işaretin soruyu yanlış çözmemize veya uzun süre içinde çözmemize neden olacağını unutmayalım.
<br>
<br>
5- İlk 1-2 sayfa soruları (ilk 6-8 soru) basit olabilir; ancak yine de dikkat etmek gerekiyor. Aşırıya kaçmadan şüpheci olmak gerekiyor. İçerisinde dikkatinizi ölçen bir veri olabilir, göremeyeceğinizin düşünüldüğü bir durum olabilir. Yeter ki soruyu tane tane dikkatli okuyun. Dikkat sıkıntısı fazlaca çeken biri iseniz sorudaki önermelerin veya özelliklerin altını hafifçe çizebilirsiniz.
<br>
<br>
6- Çözemediğiniz soruların kitapçıktaki numaralarını yuvarlak içine alın. Yanına süre kaybedip belli aşama kaydedip çözebileceğine inandıklarının yanına (+) , konuya vakıf olmadıkların veya çözüm yolu aklına gelemeyecekler için (–) koyun. Bu yöntemi güzel uygulaman durumunda sınav sonunda süre artacaktır. Arta kalan sürede (+) koyduğun soruları çözebilirsin. Belki de o heyecan ve stres içerisinde göremediğin bir unsuru, sınav sonunda süre yetmeyecek korkusu olmayacağı için rahatlıkla görüp çözebilirsin.
<br>
<br>
7- Bir çözüm (sonuca ulaşabileceğinize inandığınız bir soruda) için soru zor bile olsa 3 dakikadan fazla zaman harcamayın. Fazladan harcadığınız süre diğer soruların süresidir, bunu unutmayalım.
<br>
<br>
8- Sürekli saate bakmayın, her 15-20 soruda bakarak; süre analizi yapabilirsiniz. İlk 15 soruda sürenin beklediğinizden fazladan geçmesi durumunda endişelenmeyin. İlk 5-10 dakika sınava ısınma, biraz bocalama süreleridir. 5-10 dakikadan sonra sınava daha da alışacağınız için kaybettiğiniz süre varsa telafi edebilirsiniz.
<br>
<br>
9- Çözdüğünüz bölümden sıkıldığınızı, dikkatinizin dağıldığını, boş bıraktığınızın soruların fazlalığını anladığınız zaman o bölümü orada (bıraktığınız ilk sorunun numarasını yuvarlak içine alarak) bırakıp diğer bölüme geçip kendimize geldikten, dikkatimizi topladıktan sonra ilk bölümde kaldığımız yerden devam edebiliriz.
<br>
<br>
10- Her soru sonrasında sorunun altındaki optiğe işaretlemenizi tavsiye ederim. Sınavın bitimine bırakılan işaretlemeler risklidir, yetişemeyebilir; eksik işaretleyebilirsiniz, kaydırma yapabilirsiniz.
</mat-card>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<head>
  <style>
      .center {
          text-align: center;
      }
  </style>
  </head>
  <body>


